doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  meta(charset="utf-8")
  title Excellence

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('initialize');


body
  .header
    .container
      .content 
        .left.href
          nav
            ul 
              li
                a(href="#") Excellence
              li
                a(href="#") Цены и услуги
              li
                a(href="#") Оборудование
        .center
          img(src="images/Logo.svg")
        .right
          button Записаться на прием
          p +7 863 302-02-31
      h1 ВАША ДВЕРЬ В МИР НЕПРЕВЗОЙДЕННОГО КАЧЕСТВА

  .gallery
    .container
      .slick
        .item
          .background
          img(src="images/slide-1.jpg")
          .text
            p.item-text Excellence Dental Office — первая клиника в Ростове- на-Дону с особо уютной атмосферой и современным немецким оборудованием. 
        .item 
          .background
          img(src="images/slide-2.jpg")
          .text
            p.item-text «Успех в современном мире сопутсвует тем, кто динамично движется вперед и стремиться быть первым.»
            p.name
              |Ирина Кухаренко
            p.sub-title
              |основатель клиники Excellence
        .item 
          .background
          img(src="images/slide-3.jpg")
          .text
            p.item-text
              |Современное оборудование KAVO позволяет диагностировать кариес там, где другие не могут его обнаружить.

  .about-us
    .container
      img(src="images/facts.png").title
      .block-1
        .left
          img(src="images/circle-1.png")
        .right
          p.number 1
          p.text
            |Excellence является референс-клиникой KAVO, 
            |немецкого производителя высококачественного 
            |стоматологического оборудования с более чем 100-летней историей.
      
      .block-2
        .left
          p.number 2
          p.text
            |Excellence является референс-клиникой KAVO, 
            |немецкого производителя высококачественного 
        .right
          img(src="images/circle-2.png")

      .block-3
        .left
          img(src="images/circle-3.png")
        .right
          p.number 3
          p.text
            |Excellence является референс-клиникой KAVO, 
            |немецкого производителя высококачественного 
            |стоматологического оборудования с более чем 100-летней историей.
      
      .block-4
        .left
          p.number 4
          p.text
            |Excellence является референс-клиникой KAVO, 
            |немецкого производителя высококачественного 
            |стоматологического оборудования с более чем 100-летней историей.
        .right
          img(src="images/circle-4.png")

      .block-5
        .left
          img(src="images/circle-5.png")
        .right
          p.number 5
          p.text
            |Excellence является референс-клиникой KAVO, 
            |немецкого производителя высококачественного 
            |стоматологического оборудования с более чем 100-летней историей.

  .services
    .container
      img(src="images/uslugi.png").title-container
      .services-content
        .item
          img(src="images/uslugi-1.svg")
          a(href="").title Диагностика
          p.sub-title От 1000 рублей
        .item
          img(src="images/uslugi-2.svg")
          a(href="").title Лечение каркаса
          p.sub-title От 4500 рублей
        .item
          img(src="images/uslugi-3.svg")
          a(href="").title Протезирование
          p.sub-title От 20 000 рублей
        .item
          img(src="images/uslugi-4.svg")
          a(href="").title Эстетика
          p.sub-title От 7500 рублей
        .item
          img(src="images/uslugi-5.svg")
          a(href="").title Коронки
          p.sub-title От 2000 рублей
      p.all
        a(href="") ВСЕ УСЛУГИ

  .feedback
    .container
      img(src="images/feedback.png").title-content
      .content
        .left 
          .item
            .text
              p 
                |Ирина простобожественный мастер, а сама 
                br
                |клиника — превосходнейшее место из тех, что 
                br
                |я посещала. Не думаешь совсем о лечении. 
                br
                |Расслабляешься, летаешь в своих мыслях.
                
            .info
              p.name Елена Перепелицина
              p.sub-title фитнес-директор PRIME

          .item
            .text
              p 
                |Успех моей политической деятельности 
                br
                |обязан клинике Excellence. Когда раньше 
                br
                |выступал публично, волновался о своей 
                br
                |улыбке. Теперь никакого страха.
            .info
              p.name Василий Голубев
              p.sub-title губернатор Ростовской области

        .center
          .line

        .right 
          .item
            .text
              p 
                |Регулярно забегаю выпить кофе и просто 
                br
                |перекинуться словами о повседневном.
            .info
              p.name Вадим Калинич
              p.sub-title основатель сети «Есть и Пить»

          .item
            .text
              p 
                |Что делать, если зубная хирургия в Германии 
                br
                |даже не помогает. Удивительно — но стоило 
                br
                |сходить только к Ирине, как вдруг оказалось, 
                br
                |что проблемы решаются просто — не нужно и 
                br
                |в Европу ездить.
            .info
              p.name Анонимный отзыв
      p.all
        a(href="") ЕЩЕ ОТЗЫВЫ
  .footer
    .container
      .left
        .left-one
          p 
            |Ростов-на-Дону, ул. Суворова, 93
            br
            |БЦ «Лига Наций», 4 этаж
            br
            |+7 (863) 302-02-31
        .left-two
          ul 
            li
              a(href="#") Excellence
            li
              a(href="#") Цены и услуги
            li
              a(href="#") Оборудование
        p.copy © 2015, DENTAL EXCELLENCE OFFICE

      .right
        p.title Безналичная оплата услуг
        img(src="images/visa.png")
        img(src="images/master.png")
        p.copy Разработка AHEAD

      