@import 'settings'

purpleLink = #7d396e
purpleLinkHover = #cb596e
blackText = #111
gradientPurple = linear-gradient(left, #74366e, #cb596e)
gradientPurple-3 = linear-gradient(right, #74366e, #cb596e)
gradientPurple-2 = linear-gradient(bottom, #74366e, #cb596e)
buttonBorder = 1px #cb596e solid
angelica = 'Anglecia Pro Text', sans-serif
angelicad = 'Anglecia Pro Display', sans-serif
angelicat = 'Anglecia Pro Title', sans-serif
bodoni = 'Bodoni', sans-serif
aldine = 'Aldine', sans-serif



.slick-2
  position relative
  
.center
  position relative
  .background-gallery
    absolute top left
    width 100%
    height 100%
    z-index 9999
    flexy row nowrap
    pointer-events none
    > div
      height 100%
    .flex-1, .flex-3
      flex 1 0 auto
      background rgba(255,255,255,.8)
    .flex-2
      flex 0 0 824px
      
      


  
.visible 
  opacity 1


.slick-slide
  img
    height 550px

.slick-prev
  opacity 1
  height 50px
  z-index 9999
  left 50px
  background url('../images/Left Normal.svg') no-repeat left center
  &:hover
    background url('../images/Left Hover.svg') no-repeat left center
  &:focus
    background url('../images/Left Hover.svg') no-repeat left center
  &:before
    content ''
    
  &.slick-disabled
    display none !important

.slick-next
  z-index 9999
  opacity 1
  height 50px
  width 21px
  right 50px
  background url('../images/Right Normal.svg') no-repeat left center
  &:hover
    background url('../images/Right Hover.svg') no-repeat left center
  &:focus
    background url('../images/Right Hover.svg') no-repeat left center
  &:before
    content ''
    
  &.slick-disabled
    display none !important
body 
  min-width 1200px





$title
  font 60px bodoni
  letter-spacing 3.5px
  text-align center
  font-style italic
  background gradientPurple-3
  -webkit-background-clip text
  -webkit-text-fill-color transparent
  
$all
  margin-top 60px
  text-align center
  font-size 12px
  letter-spacing 1.5px
  a
    font-weight 700
    font-family angelica
    border-bottom 1px purpleLink solid
    color purpleLink
    &:hover
      color purpleLinkHover
      border-bottom 1px purpleLinkHover solid



a
  text-decoration none 
.href
  a
    color blackText
    text-decoration none
    &:hover
      color purpleLinkHover
  .active
    color purpleLinkHover
      
.href-2
  a
    color purpleLink
    text-decoration none
    border-bottom 1px purpleLink dotted
    &:hover
      color purpleLinkHover
      border-bottom 1px purpleLinkHover dotted

.slick-dots 
  li 
    button
      &:before
        font-size 40px
        line-height 12px
        color purpleLink
    &.slick-active 
      button:before
        color purpleLinkHover

.container
  position relative
  margin 0 auto
  width 1160px
  clearfix()
  

@keyframes arrow 
  0% 
    transform translateY(0)
    
  50% 
    transform translateY(100px)

  100% 
     
    transform translateY(0)

@keyframes arrow-2
  0% 
    transform translateY(100px)
    
  50% 
    transform translateY(0)

  100% 
    transform translateY(100px)

@keyframes arrow-3
  0% 
    transform translateY(50px)
    
  50% 
    transform translateY(0)

  100% 
    transform translateY(50px)
    

@keyframes arrow-4
  0% 
    transform translateY(0)
    
  50% 
    transform translateY(50px)

  100% 
     
    transform translateY(0)


.active
  font-style normal
  color purpleLink
  
.modal-container
  background rgba(255,255,255, 0.7)
  fixed top left
  width 100%
  height 100%
  display none
  .modal-inner
    absolute top 50% left 50%
    transform translate(-50%,-50%) 
    width 520px 
    height 630px
    background gradientPurple-2
    .krest
      absolute top 20px right 20px
      background url('../images/cross normal.svg') no-repeat center
      width 25px
      cursor pointer 
      height 25px
      &:hover
        background url('../images/cross hover.svg') no-repeat center
    p
      text-align center
      margin-top 75px
      font 34px bodoni
      font-style italic
      line-height 61px
      letter-spacing 3.6px
      color #fff
      span
        font 16px angelica
        font-style italic
        font-weight 300
        letter-spacing 1.2px
    form
      input, select
        margin 0 auto
        display block
      input[type="text"]
        width 445px
        background none
        border 0 
        color white
        margin-top 25px
        font 16px angelica 
        border-bottom 1px #fff solid
        padding 10px 10px 10px 0
        outline none
        placeholder-color(#fff)
      
      select
        margin-top 25px
        width 445px
        
      button
        height 52px
        width 264px
        margin 0 auto
        display block
        margin-top 50px
        text-transform uppercase
        outline none
        cursor pointer
        color #fff
        background transparent
        font 14px 'Aldine'
        letter-spacing 1px
        font-style italic
        round()
        border 1px #fff solid
        &:hover
          background #fff
          color purpleLink
        
.modal-visible
  display block
