doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  meta(charset="utf-8")
  title Оборудование | Excellence

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://maps.googleapis.com/maps/api/js?v=3?key=AIzaSyALv14QJCMFIoAqH2JLuGruwxtxCG_IBKk")


  script.
    require('initialize');
    require('main');


body
  .header
    .container
      .content 
        .left.href
          nav
            ul 
              li
                a(href="excellence.html") Excellence
              li
                a(href="price.html") Цены и услуги
              li
                a(href="oborudovanie.html").active Оборудование
        .center
          a(href="index.html")
            img(src="images/Logo.svg")
        .right
          button Записаться на прием
          p +7 863 302-02-31
      h1 ВАША ДВЕРЬ В МИР НЕПРЕВЗОЙДЕННОГО КАЧЕСТВА


  .center
    h1.title-page Оборудование
    .background-gallery
      .flex-1
      .flex-2
      .flex-3
    .slick-2
      .item
        .background-2
        img(src="images/1ED_7377.jpg")
      .item 
        .background-2
        img(src="images/1ED_7508.jpg")
      .item 
        .background-2
        img(src="images/1ED_7556.jpg")
      .item
        .background-2
        img(src="images/1ED_7586.jpg")
      .item 
        .background-2
        img(src="images/1ED_7646.jpg")
      .item 
        .background-2
        img(src="images/1ED_7748.jpg")

  .text-content
    .container
      .text-1
        p.title-content Excellence — одна из немногих клиник в России, которой доверен статус «Референс» от всемирноизвестной компании KAVO. Благодаря этому врачи в зубоврачебном офисе творят настоящие чудеса.
      
      .content-inner
        .left
          p 
            |We know how it is. Whether you’re storyboarding, planning shots, or sweating that 
            br
            |last-minute edit, searching for clips takes time and effort that you might not have.
          p
            |Many things bring us joy and satisfaction at first — then we become habituated to them. 
            br
            |But habituation is not just a fact of life, it’s the fact of life: what we value most, what “never gets old” for us, is love. We shape our lives around the activities, things, and people that hold our interest.
          p
            |Story informs every decision in the empire’s films and parks. Humbly billed as “a conference for creatives” — “if you enjoy creating things and learning from other creative people, this experience is for you” — creator Ben Arment’s event featured world-class talents. Speakers touched on several recurring themes: It’s about the struggle, the journey, not the goal. Create space for dumb ideas. Silence your inner critic. And hide the technology from whatever story you tell. Here are a few notes I took from some of my favorite speakers.
          
          p.big-text LIKE ANY GOOD SOCIAL NETWORK, ELLO HAS PLANS TO START MAKING MONEY THROUGH ITS USERS.

          p 
            |We know how it is. Whether you’re storyboarding, planning shots, or sweating that
            br
            | last-minute edit, searching for clips takes time and effort that you might not have.
          p 
            |Many things bring us joy and satisfaction at first — then we become habituated to them. 
            br
            |But habituation is not just a fact of life, it’s the fact of life: what 
            |we value most, what 
            br
            |“never gets old” for us, is love. We shape our lives around the activities, things, and people that hold our interest.
         .right
          p KAVO — немецкая компания с 100-летней историей создания оборудования для профессионалов в области стоматологии.
          a(href="wwww.kavo.com" target="_blank") www.kavo.com
        .logos
          a(href="")
            img(src="images/leica.svg")
          a(href="")
            img(src="images/melag.svg")
          a(href="")
            img(src="images/kavo.svg")
          a(href="")
            img(src="images/gendex.svg")

  .footer
    .container
      .left
        .left-one
          p 
            |Ростов-на-Дону, ул. Суворова, 93
            br
            |БЦ «Лига Наций», 4 этаж
            br
            |+7 (863) 302-02-31
        .left-two
          ul 
            li
              a(href="#") Excellence
            li
              a(href="#") Цены и услуги
            li
              a(href="#") Оборудование
        p.copy © 2015, DENTAL EXCELLENCE OFFICE

      .right
        p.title Безналичная оплата услуг
        img(src="images/visa.svg")
        img(src="images/master.svg")
        a(href="http://aheadstudio.ru/" target="_blank").copy Разработка AHEAD
  include ./modal.static.jade