@import 'nib'
@import 'settings'
@import 'layout'

.title-page
  margin-top 30px

.price-content
  .main-items
    margin-top 70px
    .item
      width 560px
      height 380px
      background #f7f7f7
      display inline-block
      margin-left 35px
      margin-top 40px
      vertical-align top
      position relative
      cursor pointer
      &:nth-child(1)
        margin-left 0
        margin-top 0
        
      &:nth-child(2)
        margin-top 0
        
      &:nth-child(3)
        margin-left 0
      
      .title 
        font 24px angelica
        color purpleLink
        margin-top 50px
        letter-spacing 1.8px
        text-align center
      
      .text
        font 20px angelica
        color blackText
        text-align center
        line-height 36px
        margin-top 21px
        opacity 0
      
      .visible
        opacity 1

      .price
        font 14px angelicat
        font-style italic
        absolute left 50% bottom 30px
        transform translateX(-50%)
        letter-spacing 1.5px
        
      
      img
        height 200px
        opacity 0
        absolute top 50% left 50%
        transform translate(-50%,-50%)

      .link
        width 100%
        height 100%
        absolute top left
        z-index 9999

.tables
  .left, .right
    display inline-block
    vertical-align top
    width 500px
    margin-left 40px
    margin-top 15px
    &:last-child
      margin-left 95px
    .item
      width 482px
      vertical-align top
      .title 
        font 24px angelicat
        color blackText
        margin-top 60px
        margin-bottom 35px
        line-height 36px
        letter-spacing 2px
      .title-2
        font 18px angelicat
        color blackText
        margin-top 50px
        margin-bottom 25px
        line-height 28px
      .title-3
        font 18px angelicat
        color blackText
        margin-top 65px
        margin-bottom 25px
        line-height 28px
      table
        tr 
          td
            &:last-child 
              font 18px angelicat 
              font-style italic
              text-align right
              line-height 28px
              width 90px
              padding 0 0 24px 0 
            &:nth-child(1)
              width 420px
              font 18px angelica
              text-align left
              line-height 32px
              padding 0 0 20px 0 
          span
            font-style italic