@import 'nib'
@import 'settings'

global-reset()


        
  

purpleLink = #7d396e
purpleLinkHover = #cb596e
blackText = #111
gradientPurple = linear-gradient(left, #74366e, #cb596e)
buttonBorder = 1px #cb596e solid
angelica = 'Anglecia Pro Text', sans-serif
angelicad = 'Anglecia Pro Display', sans-serif
angelicat = 'Anglecia Pro Title', sans-serif
bodoni = 'a_BodoniNova', sans-serif

a
  text-decoration none 
.href
  a
    color purpleLink
    text-decoration none
    &:hover
      color purpleLinkHover
      
.href-2
  a
    color purpleLink
    text-decoration none
    border-bottom 1px purpleLink dotted
    &:hover
      color purpleLinkHover
      border-bottom 1px purpleLinkHover dotted

.slick-dots 
  li 
    button
      &:before
        font-size 40px
        line-height 12px
        color purpleLink
    &.slick-active 
      button:before
        color purpleLinkHover

.container
  container(1200px)
  min-width 1200px
  
.header
  font-family angelica
  
  .content
    margin-top 15px
    height 200px
    
    .left, .right, .center
      display inline-block
      
    .left
      margin-top 56px
      float left
      font-size 16px
      font-style italic
      nav
        ul
          li
            margin-top 33px
            &:first-child
              margin-top 0
      
    .center
      absolute left 50% top
      transform translateX(-50%)
      img
        height 160px
        
    .right
      float right
      margin-top 56px
      button
        font-style italic
        font-size 15px
        width 223px
        background #fff
        font-family angelica
        border buttonBorder
        round()
        padding 14px 30px 11px 30px
        color blackText
        &:hover
          background gradientPurple
          color white
          
      p
        font-family angelicad
        font-size 20px
        margin-top 20px
        text-align center
        
  h1 
    text-align center
    font-weight bold
    font-size 16px
    letter-spacing 3px
    margin-top 5px
    color blackText

.gallery
  margin-top 50px
  .container
    .slick
      .item
        position relative
        color #111111
        .background
          background rgba(255,255,255,.5)
          opacity 0
          transition opacity 2s
          transition-delay 2s
          absolute top left
          width 100%
          height 100%
          z-index 500
          &.visible
            opacity 1
          
        &:nth-child(3)
          .text
            width 330px  
            absolute top 130px right 55px
            
        &:nth-child(4)
          .text
            width 410px
            absolute top 210px left 55px  
        img 
          width 100%  
          
        .text
          absolute top 200px right 55px
          z-index 555
          width 450px
          
        .item-text
          font-family angelicat
          font-size 24px
          line-height 53px
          text-align center
          
         
        
        .name, .sub-title
          font-family angelica
          font-size 20px
          text-align center
          margin-top 10px
          font-style italic  
          
        .sub-title
          font-size 16px
          margin-top 15px
    
.about-us
  margin-top 100px
  .container
    .title 
      display block
      margin 0 auto
    .block-1, .block-3, .block-5
      margin-top 20px
      height 350px
      .left, .right 
        display inline-block
        font-family angelica
        font-size 20px
        color blackText
        vertical-align top
      .left
        width 35%
      .right
        width 55%
        .number
          font-family bodoni
          color purpleLink
          font-size 60px
          margin-top 50px
          
        .text
          margin-top 25px
          line-height 30px
          
    .block-2, .block-4
      margin-top 20px
      height 350px
      .left, .right 
        display inline-block
        font-family angelica
        font-size 20px
        color blackText
        width 45%
        vertical-align top
      .left
        .number
          font-family bodoni
          color purpleLink
          font-size 60px
          margin-left 50px
          margin-top 50px
          
        .text
          margin-top 25px
          margin-left 50px
          line-height 30px
      .right
        position relative
        img
          position absolute
          right 100px
