@import 'nib'
@import 'settings'
@import 'layout'

global-reset()


.stellars
  width 100%
  height 100%
  position absolute
  top 0 
  left 0
  .stellar-1, .stellar-2, .stellar-3, .stellar-4, .stellar-5, .stellar-6, .stellar-7
    img
      position absolute
    &:first-child
      img
        top 1020px
        right -55px
        height 280px
        animation arrow-4 21s linear infinite
    
    &:nth-child(2)
      img
        height 250px
        top 1230px
        left -25px
        z-index 9999
        animation arrow-3 19s linear infinite  
        
    &:nth-child(3)
      img
        height 220px
        top 1600px
        right -75px
        animation arrow-2 25s linear infinite
        
    &:nth-child(4)
      img
        height 105px
        top 1950px
        left 300px
        animation arrow 25s linear infinite
        
            
    &:nth-child(5)
      img
        top 2320px
        right -65px
        height 94px
        animation arrow-2 20s linear infinite

    &:nth-child(6)
      img
        height 145px
        top 2420px
        right -110px
        animation arrow-2 20s linear infinite
      
    &:nth-child(7)
      img
        height 143px
        top 2350px
        margin-left -75px
        animation arrow-3 23s linear infinite

.header
  font-family angelica
  
  .content
    margin-top 12px
    letter-spacing 1.5px
    height 200px
    
    .left, .right, .center
      display inline-block
      
    .left
      margin-top 56px
      float left
      font-size 15px
      font-style italic
      nav
        ul
          li
            margin-top 31px
            &:first-child
              margin-top 0
      
    .center
      absolute left 50% top 15px
      transform translateX(-50%)
      img
        height 160px
        
    .right
      float right
      margin-top 56px
      button
        font-style italic
        font-size 15px
        width 230px
        background #fff
        font-family angelica
        border buttonBorder
        round()
        padding 14px 30px 11px 30px
        color blackText
        &:hover
          background gradientPurple
          color white
          
      p
        font-family angelicad
        font-size 20px
        margin-top 20px
        text-align center
        
  h1 
    text-align center
    font-weight bold
    font-size 15px
    letter-spacing 3px
    margin-top 1px
    color blackText

.gallery
  margin-top 25px
  .container
    .slick
      .item
        position relative
        color #111111
        .background
          background rgba(255,255,255,.8)
          opacity 0
          transition opacity 2s
          transition-delay 2s
          absolute top left
          width 100%
          height 100%
          z-index 500
          &.visible
            opacity 1
        img 
          height 550px
          
        &:nth-child(3)
          .text
            width 330px  
            absolute top 130px right 55px
            
        &:nth-child(4)
          .text
            width 410px
            absolute top 210px left 55px  
        img 
          width 100%  
          
        .text
          absolute top 200px right 55px
          z-index 555
          width 450px
          
        .item-text
          font-family angelicat
          font-size 24px
          line-height 53px
          text-align center
          
         
        
        .name, .sub-title
          font-family angelica
          font-size 20px
          text-align center
          margin-top 10px
          font-style italic  
          
        .sub-title
          font-size 16px
          margin-top 15px
     

   
      
.about-us
  margin-top 120px
  .container
    .title 
      @extend $title
      
      
    .block-1, .block-3, .block-5
      margin-top 70px
      height 350px
      .left, .right 
        display inline-block
        font-family angelica
        font-size 20px
        color blackText
        vertical-align top
      .left
        width 34.8%
        margin-left 95px
      .right
        width 55%
        .number
          font-family bodoni
          font-size 60px
          margin-top 50px
        .text
          margin-top 15px 
          line-height 36px
          
    .block-2, .block-4
      margin-top 20px
      height 300px
      .left, .right 
        display inline-block
        font-family angelica
        font-size 20px
        color blackText
        
        vertical-align top
      .left
        width 65%
        .number
          font-family bodoni
          font-size 60px
          margin-left 103px
          margin-top 26px
          
        .text
          margin-top 22px
          margin-left 100px
          line-height 35px
      .right
        width 34%
        position relative
        img
          position absolute
          right 0px
          top -47px
          
    .block-1
      margin-top 32px
      .number
        color #74366e
      
    .block-2
      margin-top 19px
      .number
        color #9f476e
      
    .block-3
      margin-top 19px
      .number
        color #a74a6f
      
    .block-4
      margin-top 32px
      .number
        color #bb536e
      
    .block-5
      margin-top 19px
      .left
        width 34.6%
        margin-left 95px
      .right
        width 55%
        .number
          font-size 60px
          margin-top 50px
          color #c8586f
        .text
          margin-top 15px 
          line-height 36px
          
.services
  margin-top 114px
  .container
    .title-container
      @extend $title
    .services-content
      margin-top 70px
      .item
        width 19.7%
        display inline-block
        text-align center
        margin-top 10px
        &:nth-child(1)
          img
            height 54px
        &:nth-child(2)
          img
            height 72px
        &:nth-child(3)
          img
            height 71px
        &:nth-child(4)
          img
            height 51px
        &:nth-child(5)
          img
            height 56px
        img
          display block
          margin 0 auto
          margin-bottom 55px
        .title
          color blackText
          font-family angelicad
          font-size 18px
          font-weight 600
          letter-spacing 1px
          &:hover
            color purpleLink
        .sub-title
          margin-top 20px
          color #777
          font-family angelicat
          font-style italic
          font-size 16px
    .all
      @extend $all
  

.feedback
  margin-top 158px
  .container
    .title-content
      @extend $title
    .content
      margin-top 75px
      .left, .right, .center
        display inline-block
        vertical-align top
        .item
          position relative
          .text
            &::before
              content '«'
              display block
              position absolute
              padding-top 5px
              left -20px
            p
              font 20px angelica
              line-height 37px
          .info
            margin-top 50px
            .name 
              font 16px angelica
              font-weight 600
              color #111
              font-style italic
            .sub-title
              font 16px angelica
              font-weight 600
              color #777
              margin-top 15px
              font-style italic
      .center
        width 1%
        display none
        .line
          min-height 700px
          width 2px
          background gradientPurple-2
      .invisible
        display none
      .visible-more
        display block
      .left
        width 42%
        margin-left 90px
        border-right 2px purpleLinkHover solid
        .item
          margin-top 70px
          margin-bottom 80px
          &:first-child 
            margin-top 0
          &:after
            width 25px
            border-radius 100px
            position absolute
            display block
            top 0
            right -15px
            background #fff
            height 25px
            border 2px purpleLinkHover solid
            content ''
        
      .right
        width 42%
        margin-left 50px
        .item
          &:first-child
            margin-top 90px
          margin-top 140px
          &:before
            width 25px
            border-radius 100px
            position absolute
            display block
            top 0
            left -70px
            background #fff
            height 25px
            border 2px purpleLinkHover solid
            content ''
        
    .more
      margin-top 60px
      position relative
      span
        absolute top left 50%
        cursor pointer
        transform translateX(-50%)
        font-size 12px
        letter-spacing 1.5px
        font-family angelica
        border-bottom 1px purpleLink dotted
        color purpleLink
        &:hover
          color purpleLinkHover
          border-bottom 1px purpleLinkHover dotted


.footer
  margin-top 85px
  background #f7f7f7
  font-size 16px
  height 270px
  .left
    display inline-block
    vertical-align top
    .left-one, .left-two
      margin-left 43px
      display inline-block
      font 1em angelica
      margin-top 30px
      color #111111
      font-weight 600
      &:first-child
        margin-left 0
      p
        line-height 37px
        letter-spacing 0px
      a
        letter-spacing 2px
        color #111
        line-height 37px
        &:hover
          color purpleLinkHover
    .copy
      margin-top 76px
      font-size 15px
      letter-spacing 1.1px
      font-style italic
      color #777
    .left-two
      font-style italic 
  .right
    position absolute
    right 0
    top 0
    display inline-block
    vertical-align top
    margin-top 39px
    margin-right 60px
    line-height 35px
    .title
      font 1em angelica 
      font-weight 600
      color #111
    img
      margin-left 20px
      margin-top 18px
      vertical-align middle
      &:nth-child(2)
        margin-left -3px
    .copy
      font 15 angelica 
      color #777
      margin-top 95px
      font-style italic